<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error!</title>
</head>
<body>
  <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Page not found! 🙀</h1>
    <p class="lead"><%= url %></p>
    <hr>
  </div>
</div>
</body>
</html>